/* Estilos principais do site Dexter */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #ff0000);
    color: #200000;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right, #ff0000, #ffffff);
    color: white;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

.sobre, .personagens {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.7);
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px #7a0000;
}

.personagens h2, .sobre h2 {
    text-align: center;
    color: #7a0000;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-left: 6px solid #ff0000;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card h3 {
    color: #b30000;
}

footer {
    text-align: center;
    padding: 20px;
    background: #b30000;
    color: white;
    margin-top: 40px;
}
